<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <h4>Brand List</h4>
        <app-brand></app-brand>
      </div>
      <div class="row">
        <h4>Color List</h4>
        <app-color></app-color>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <h4>Customer List</h4>
        <app-customer></app-customer>
      </div>
      <div class="row">
        <h4>Car List</h4>
        <app-car></app-car>
      </div>
      <div class="row">
        <h4>Rental List</h4>
        <app-rental></app-rental>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
